{
  "openapi": "3.1.0",
  "info": {
    "title": "BuildWorkPro API",
    "version": "1.0.0",
    "description": "Construction project management, CRM, and workflows — public REST API.",
    "contact": {
      "name": "BuildWorkPro Developers",
      "email": "developers@buildworkpro.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://buildworkpro.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.buildworkpro.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {
      "ScopeId": {
        "type": "string",
        "enum": [
          "contacts:read",
          "contacts:write",
          "contacts:delete",
          "leads:read",
          "leads:write",
          "leads:delete",
          "projects:read",
          "projects:write",
          "projects:delete",
          "bids:read",
          "bids:write",
          "bids:delete",
          "pay_apps:read",
          "pay_apps:write",
          "pay_apps:delete",
          "change_orders:read",
          "change_orders:write",
          "change_orders:delete",
          "site_logs:read",
          "site_logs:write",
          "site_logs:delete",
          "time_entries:read",
          "time_entries:write",
          "time_entries:delete",
          "products:read",
          "products:write",
          "products:delete",
          "documents:read",
          "documents:write",
          "documents:delete",
          "invoices:read",
          "invoices:write",
          "invoices:delete",
          "bids:send",
          "bids:accept_reject",
          "pay_apps:approve",
          "pay_apps:mark_paid",
          "pay_apps:send",
          "change_orders:approve",
          "change_orders:send",
          "invoices:send",
          "invoices:mark_paid",
          "invoices:void",
          "users:read",
          "comments:read",
          "comments:write",
          "comments:delete",
          "webhooks:manage",
          "jobs:read",
          "jobs:write",
          "notifications:read",
          "notifications:write",
          "messaging:read",
          "messaging:send",
          "support:read",
          "reports:read",
          "signatures:read",
          "signatures:send",
          "audit:read",
          "settings:read",
          "settings:write",
          "offline_access",
          "platform_admin:read"
        ],
        "description": "Available API scopes"
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "bad_request",
          "unauthorized",
          "token_expired",
          "forbidden",
          "scope_insufficient",
          "subscription_inactive",
          "tenant_suspended",
          "not_found",
          "conflict",
          "idempotency_key_reused",
          "validation_failed",
          "rate_limited",
          "internal_error",
          "service_unavailable",
          "maintenance"
        ],
        "description": "Catalog of error codes returned by the API"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URL identifying the problem type"
          },
          "title": {
            "type": "string",
            "description": "Short human-readable summary"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation"
          },
          "request_id": {
            "type": "string",
            "description": "Server-generated request identifier"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Field path that failed validation"
                },
                "code": {
                  "type": "string",
                  "description": "Validation error code"
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable validation message"
                }
              },
              "required": [
                "field",
                "code",
                "message"
              ]
            },
            "description": "Validation error array (422 only)"
          }
        },
        "required": [
          "type",
          "title",
          "status"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page; null when no more results"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more pages are available after this one"
          },
          "count": {
            "type": "integer",
            "description": "Items in this page"
          }
        },
        "required": [
          "cursor",
          "has_more",
          "count"
        ]
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Server-generated request identifier"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "companyName",
          "email",
          "phone",
          "type",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "companyName": {
            "type": "string",
            "minLength": 1
          },
          "position": {
            "type": [
              "string",
              "null"
            ]
          },
          "parentContactId": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "mobile": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "general_contractor",
              "architect",
              "city",
              "hoa",
              "vendor",
              "subcontractor",
              "supplier",
              "employee",
              "partner",
              "other"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "companyName": {
            "type": "string",
            "minLength": 1
          },
          "position": {
            "type": [
              "string",
              "null"
            ]
          },
          "parentContactId": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "mobile": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "general_contractor",
              "architect",
              "city",
              "hoa",
              "vendor",
              "subcontractor",
              "supplier",
              "employee",
              "partner",
              "other"
            ]
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stageId": {
            "type": "integer"
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "estimatedValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "probability": {
            "type": [
              "integer",
              "null"
            ]
          },
          "expectedCloseDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "contactId",
          "stageId",
          "assignedTo",
          "source",
          "projectType",
          "estimatedValue",
          "probability",
          "expectedCloseDate",
          "description",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateLead": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "stageId": {
            "type": "integer"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "residential",
              "commercial",
              "industrial"
            ]
          },
          "estimatedValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "probability": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "expectedCloseDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          }
        },
        "required": [
          "name",
          "stageId"
        ]
      },
      "UpdateLead": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "stageId": {
            "type": "integer"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "residential",
              "commercial",
              "industrial"
            ]
          },
          "estimatedValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "probability": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "expectedCloseDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          }
        }
      },
      "LeadStage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "order": {
            "type": "integer"
          },
          "isDefault": {
            "type": "boolean"
          },
          "isWon": {
            "type": "boolean"
          },
          "isLost": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "color",
          "order",
          "isDefault",
          "isWon",
          "isLost",
          "createdAt"
        ]
      },
      "CreateLeadStage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "order": {
            "type": "integer"
          },
          "isDefault": {
            "type": "boolean"
          },
          "isWon": {
            "type": "boolean"
          },
          "isLost": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateLeadStage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "order": {
            "type": "integer"
          },
          "isDefault": {
            "type": "boolean"
          },
          "isWon": {
            "type": "boolean"
          },
          "isLost": {
            "type": "boolean"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "projectNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bidId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expectedEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "actualEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "originalContractValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "projectNumber",
          "contactId",
          "bidId",
          "projectType",
          "status",
          "priority",
          "startDate",
          "expectedEndDate",
          "actualEndDate",
          "contractValue",
          "originalContractValue",
          "description",
          "siteAddress",
          "assignedTo",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "projectNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "planning",
              "in_progress",
              "on_hold",
              "closeout",
              "completed",
              "cancelled"
            ]
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expectedEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "actualEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "originalContractValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "projectNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "planning",
              "in_progress",
              "on_hold",
              "closeout",
              "completed",
              "cancelled"
            ]
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expectedEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "actualEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "originalContractValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Bid": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "bidNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "leadId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "subtotal": {
            "type": [
              "string",
              "null"
            ]
          },
          "taxAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": [
              "string",
              "null"
            ]
          },
          "discountAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "taxRate": {
            "type": [
              "string",
              "null"
            ]
          },
          "discount": {
            "type": [
              "string",
              "null"
            ]
          },
          "discountType": {
            "type": [
              "string",
              "null"
            ]
          },
          "validUntil": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "terms": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteCity": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteState": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteZipCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "sentAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "acceptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "acceptedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "bidNumber",
          "contactId",
          "leadId",
          "projectId",
          "status",
          "subtotal",
          "taxAmount",
          "total",
          "taxRate",
          "discount",
          "discountType",
          "validUntil",
          "notes",
          "terms",
          "siteAddress",
          "sentAt",
          "acceptedAt",
          "acceptedBy",
          "createdAt",
          "updatedAt"
        ]
      },
      "BidLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "bidId": {
            "type": "integer"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "quantity": {
            "type": [
              "string",
              "null"
            ]
          },
          "unitPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "bidId",
          "description",
          "quantity",
          "unitPrice",
          "total"
        ]
      },
      "PayApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "payAppNumber": {
            "type": "string"
          },
          "projectId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "periodStart": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "periodEnd": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractSum": {
            "type": [
              "string",
              "null"
            ]
          },
          "changeOrdersTotal": {
            "type": [
              "string",
              "null"
            ]
          },
          "revisedContractSum": {
            "type": [
              "string",
              "null"
            ]
          },
          "previouslyBilled": {
            "type": [
              "string",
              "null"
            ]
          },
          "currentBilled": {
            "type": [
              "string",
              "null"
            ]
          },
          "materialsStored": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalCompleted": {
            "type": [
              "string",
              "null"
            ]
          },
          "retainagePercent": {
            "type": [
              "string",
              "null"
            ]
          },
          "retainageAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "currentPaymentDue": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "payAppNumber",
          "projectId",
          "status",
          "periodStart",
          "periodEnd",
          "contractSum",
          "changeOrdersTotal",
          "revisedContractSum",
          "previouslyBilled",
          "currentBilled",
          "materialsStored",
          "totalCompleted",
          "retainagePercent",
          "retainageAmount",
          "currentPaymentDue",
          "createdAt",
          "updatedAt"
        ]
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantId": {
            "type": "integer"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "projectId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "partial",
              "paid",
              "voided"
            ]
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "subtotal": {
            "type": "string"
          },
          "taxAmount": {
            "type": "string"
          },
          "total": {
            "type": "string"
          },
          "amountPaid": {
            "type": "string"
          },
          "balanceDue": {
            "type": "string"
          },
          "notesToCustomer": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "tenantId",
          "invoiceNumber",
          "projectId",
          "contactId",
          "status",
          "issueDate",
          "dueDate",
          "subtotal",
          "taxAmount",
          "total",
          "amountPaid",
          "balanceDue",
          "notesToCustomer",
          "createdAt",
          "updatedAt"
        ]
      },
      "InvoiceLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "invoiceId": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "unitPrice": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "invoiceId",
          "description",
          "quantity",
          "unitPrice",
          "amount",
          "order"
        ]
      },
      "InvoicePayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "invoiceId": {
            "type": "integer"
          },
          "amount": {
            "type": "string"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          },
          "method": {
            "type": [
              "string",
              "null"
            ]
          },
          "reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "voidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "invoiceId",
          "amount",
          "paidAt",
          "method",
          "reference",
          "notes",
          "voidedAt"
        ]
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "entityType": {
            "type": [
              "string",
              "null"
            ]
          },
          "entityId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "readAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "tenantId",
          "userId",
          "type",
          "title",
          "message",
          "entityType",
          "entityId",
          "readAt",
          "createdAt"
        ]
      },
      "ChangeOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "changeOrderNumber": {
            "type": "string"
          },
          "projectId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "approvedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "approvedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "rejectedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "changeOrderNumber",
          "projectId",
          "title",
          "description",
          "status",
          "reason",
          "totalAmount",
          "approvedAt",
          "approvedBy",
          "rejectedAt",
          "rejectionReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "SiteLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "projectId": {
            "type": "integer"
          },
          "logDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "personnelCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "workPerformed": {
            "type": [
              "string",
              "null"
            ]
          },
          "materialsReceived": {
            "type": [
              "string",
              "null"
            ]
          },
          "visitorsOnSite": {
            "type": [
              "string",
              "null"
            ]
          },
          "issues": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "lat": {
            "type": [
              "number",
              "null"
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ]
          },
          "isReviewed": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "projectId",
          "logDate",
          "title",
          "notes",
          "personnelCount",
          "workPerformed",
          "materialsReceived",
          "visitorsOnSite",
          "issues",
          "tags",
          "lat",
          "lng",
          "isReviewed",
          "createdAt",
          "updatedAt"
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "projectId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "taskId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "phaseId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "hours": {
            "type": "string"
          },
          "hourlyRate": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalCost": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "lat": {
            "type": [
              "number",
              "null"
            ]
          },
          "lng": {
            "type": [
              "number",
              "null"
            ]
          },
          "isReviewed": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "projectId",
          "userId",
          "taskId",
          "phaseId",
          "date",
          "hours",
          "hourlyRate",
          "totalCost",
          "description",
          "lat",
          "lng",
          "isReviewed",
          "createdAt",
          "updatedAt"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string"
          },
          "categoryId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "costPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "sellPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "unit": {
            "type": [
              "string",
              "null"
            ]
          },
          "manufacturerId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "manufacturerCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "isKit": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "sku",
          "name",
          "description",
          "type",
          "categoryId",
          "costPrice",
          "sellPrice",
          "unit",
          "manufacturerId",
          "manufacturerCode",
          "isKit",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProductKitItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "kitProductId": {
            "type": "integer"
          },
          "componentProductId": {
            "type": "integer"
          },
          "defaultQuantity": {
            "type": [
              "string",
              "null"
            ]
          },
          "overrideCostPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "sortOrder": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "kitProductId",
          "componentProductId",
          "defaultQuantity",
          "overrideCostPrice",
          "sortOrder"
        ]
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "integer"
          },
          "originalFilename": {
            "type": "string"
          },
          "storagePath": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "integer"
          },
          "category": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "entityType",
          "entityId",
          "originalFilename",
          "storagePath",
          "mimeType",
          "fileSize",
          "category",
          "description",
          "createdAt",
          "updatedAt"
        ]
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "task",
              "phase",
              "project",
              "lead",
              "activity",
              "bid"
            ]
          },
          "title": {
            "type": "string"
          },
          "start": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "projectId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "title",
          "start",
          "end"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "integer"
          },
          "userId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "content": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "entityType",
          "entityId",
          "userId",
          "content",
          "parentId",
          "createdAt",
          "updatedAt"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantUserId": {
            "type": "integer"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "joinedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "tenantUserId",
          "firstName",
          "lastName",
          "email",
          "username",
          "role",
          "isActive",
          "joinedAt"
        ]
      },
      "ProjectTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "createdAt",
          "updatedAt"
        ]
      },
      "BrandingSettings": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantId": {
            "type": "integer"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "primaryColor": {
            "type": [
              "string",
              "null"
            ]
          },
          "accentColor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasLogo": {
            "type": "boolean"
          }
        }
      },
      "DataRetentionSettings": {
        "type": "object",
        "properties": {
          "auditLogRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "activityLogRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "notificationRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "deletedRecordsRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "exportRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "JobProgress": {
        "type": "object",
        "properties": {
          "processed": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "errorsCount": {
            "type": "integer"
          }
        },
        "required": [
          "processed",
          "total",
          "errorsCount"
        ]
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "progress": {
            "$ref": "#/components/schemas/JobProgress"
          },
          "params": {},
          "result": {},
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "resourceType",
          "status",
          "createdAt",
          "expiresAt"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "lastDeliveredAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "disabledAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "disabledReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "url",
          "description",
          "eventTypes",
          "isActive",
          "consecutiveFailures",
          "lastDeliveredAt",
          "disabledAt",
          "disabledReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookEndpointWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEndpoint"
          },
          {
            "type": "object",
            "properties": {
              "signingSecret": {
                "type": "string"
              }
            },
            "required": [
              "signingSecret"
            ]
          }
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "string"
          },
          "endpointId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "exhausted"
            ]
          },
          "attemptCount": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastAttemptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "responseStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "responseBody": {
            "type": [
              "string",
              "null"
            ]
          },
          "responseHeaders": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "eventId",
          "endpointId",
          "status",
          "attemptCount",
          "nextAttemptAt",
          "lastAttemptedAt",
          "responseStatus",
          "responseBody",
          "responseHeaders",
          "errorMessage",
          "createdAt",
          "completedAt"
        ]
      },
      "WebhookDeliveryFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "string"
          },
          "endpointId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "exhausted"
            ]
          },
          "attemptCount": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastAttemptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "responseStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "responseBody": {
            "type": [
              "string",
              "null"
            ]
          },
          "responseHeaders": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "eventId",
          "endpointId",
          "status",
          "attemptCount",
          "nextAttemptAt",
          "lastAttemptedAt",
          "responseStatus",
          "responseBody",
          "responseHeaders",
          "errorMessage",
          "createdAt",
          "completedAt"
        ]
      },
      "ApiAuditLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantId": {
            "type": "integer"
          },
          "apiKeyId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "oauthTokenId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "userId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "durationMs": {
            "type": "integer"
          },
          "requestId": {
            "type": "string"
          },
          "ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "userAgent": {
            "type": [
              "string",
              "null"
            ]
          },
          "errorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "tenantId",
          "apiKeyId",
          "oauthTokenId",
          "userId",
          "method",
          "path",
          "status",
          "durationMs",
          "requestId",
          "ip",
          "userAgent",
          "errorCode",
          "createdAt"
        ]
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "tenant": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "used": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              },
              "resetSeconds": {
                "type": "integer"
              },
              "windowSeconds": {
                "type": "integer"
              }
            },
            "required": [
              "limit",
              "used",
              "remaining",
              "resetSeconds",
              "windowSeconds"
            ],
            "description": "Tenant-wide cost-weighted budget (sliding hour window)"
          },
          "apiKey": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "limit": {
                "type": "integer"
              },
              "used": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              },
              "resetSeconds": {
                "type": "integer"
              },
              "windowSeconds": {
                "type": "integer"
              }
            },
            "required": [
              "limit",
              "used",
              "remaining",
              "resetSeconds",
              "windowSeconds"
            ],
            "description": "Per-API-key request limit (sliding minute window). Null when the caller is OAuth/refresh-token authenticated (not an API key)."
          }
        },
        "required": [
          "tenant",
          "apiKey"
        ]
      },
      "SignatureRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "bid",
              "change_order"
            ]
          },
          "entityId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signerName": {
            "type": [
              "string",
              "null"
            ]
          },
          "signerEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "sentAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "signedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "signedDocumentId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "signingUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Present only for callers holding signatures:send, and only while the request is pending or sent."
          }
        },
        "required": [
          "id",
          "entityType",
          "entityId",
          "status",
          "signerName",
          "signerEmail",
          "sentAt",
          "signedAt",
          "signedDocumentId"
        ]
      },
      "OauthClientRegistration": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "client_id_issued_at": {
            "type": "integer"
          },
          "client_name": {
            "type": "string"
          },
          "client_secret_expires_at": {
            "type": "integer"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scope": {
            "type": "string"
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none",
              "client_secret_basic",
              "client_secret_post"
            ]
          }
        },
        "required": [
          "client_id",
          "client_id_issued_at",
          "client_name",
          "redirect_uris",
          "grant_types",
          "scope",
          "token_endpoint_auth_method"
        ]
      },
      "OauthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ]
      },
      "OauthUserinfo": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "description": "Stringified user id of the resource owner.",
            "example": "42"
          },
          "tenant_id": {
            "type": "integer",
            "description": "Tenant the access token is scoped to.",
            "example": 7
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the resource owner.",
            "example": "jane@example.com"
          },
          "name": {
            "type": "string",
            "description": "`firstName lastName`, trimmed. Empty string when both names are missing — never null.",
            "example": "Jane Doe"
          },
          "role": {
            "type": "string",
            "description": "The user's tenant role at the moment the request was authenticated.",
            "example": "company_admin"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The scopes carried by the presented access token.",
            "example": [
              "contacts:read",
              "leads:read"
            ]
          }
        },
        "required": [
          "sub",
          "tenant_id",
          "email",
          "name",
          "role",
          "scopes"
        ]
      },
      "OauthTokenError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "OauthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "OAuth 2.1 grant type. Supported: authorization_code, refresh_token.",
            "example": "authorization_code"
          },
          "code": {
            "type": "string",
            "description": "Authorization code (required for grant_type=authorization_code)."
          },
          "redirect_uri": {
            "type": "string",
            "description": "Must exact-match the redirect_uri originally used to obtain the code."
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client identifier issued by the registration endpoint."
          },
          "client_secret": {
            "type": "string",
            "description": "Required for confidential clients; MUST be omitted for public clients."
          },
          "code_verifier": {
            "type": "string",
            "description": "PKCE verifier (S256). Required for grant_type=authorization_code."
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (required for grant_type=refresh_token)."
          },
          "scope": {
            "type": "string",
            "description": "Optional space-separated scope list. For grant_type=refresh_token, MUST be a subset of the original refresh token's scopes (scope downgrade only). Upgrade is rejected with invalid_scope."
          }
        },
        "required": [
          "grant_type",
          "client_id"
        ]
      },
      "OauthRevokeError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "OauthRevokeRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The token to revoke. Can be either an access token (prefix bwp_at_) or a refresh token (prefix bwp_rt_)."
          },
          "token_type_hint": {
            "type": "string",
            "enum": [
              "access_token",
              "refresh_token"
            ],
            "description": "Optional hint about the token type. The server still falls back to the other type if the hinted lookup misses (RFC 7009 §4.1.2)."
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client identifier issued by the registration endpoint."
          },
          "client_secret": {
            "type": "string",
            "description": "Required for confidential clients; MUST be omitted for public clients."
          }
        },
        "required": [
          "token",
          "client_id"
        ]
      },
      "OauthRegistrationError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "OauthClientRegistrationRequest": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 10
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token"
              ]
            },
            "default": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "scope": {
            "type": "string",
            "default": ""
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none",
              "client_secret_basic",
              "client_secret_post"
            ],
            "default": "none"
          },
          "contact": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "client_name",
          "redirect_uris"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "bwp_live_... or bwp_test_...",
        "description": "Long-lived tenant-wide API key. Provision in Settings → Developer → API Keys."
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.1 per-user token. Available in Phase 4.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.buildworkpro.com/api/v1/oauth/authorize",
            "tokenUrl": "https://app.buildworkpro.com/api/v1/oauth/token",
            "refreshUrl": "https://app.buildworkpro.com/api/v1/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Idempotent retry key for mutating operations. The first request with a given key executes normally and BuildWorkPro caches the response. Replaying the same key with the same request body (method + path + JSON body, SHA-256 hashed) returns the cached response without re-executing the mutation. Replaying with a DIFFERENT body returns `409 idempotency_key_reused`. The cache TTL is 24 hours; after expiry the key is treated as a new operation. Keys are tenant-scoped. Recommended: a fresh UUID v4 per logical operation.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "maxLength": 255
        }
      }
    }
  },
  "paths": {
    "/contacts": {
      "get": {
        "summary": "List contacts",
        "description": "Returns a cursor-paginated list of contacts for the authenticated tenant.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Return compact row projection (id + key fields only)."
            },
            "required": false,
            "description": "Return compact row projection (id + key fields only).",
            "name": "compact",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "getContacts",
        "x-rate-limit-cost": 1
      },
      "post": {
        "summary": "Create contact",
        "description": "Creates a new contact.",
        "security": [
          {
            "bearerAuth": [
              "contacts:write"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "postContacts",
        "x-rate-limit-cost": 5
      }
    },
    "/contacts/get-many": {
      "post": {
        "summary": "Bulk-fetch contacts by ID",
        "description": "Fetch up to 50 contacts by ID in a single round-trip. Returns rows for IDs that exist in the tenant — IDs that don't exist (or belong to another tenant) are silently omitted. Compare `meta.requested` to `meta.returned` to detect missing.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "minItems": 1,
                    "maxItems": 50
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ResponseMeta"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "requested": {
                              "type": "integer"
                            },
                            "returned": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "requested",
                            "returned"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "postContactsGetMany",
        "x-rate-limit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/contacts/count": {
      "get": {
        "summary": "Count contacts",
        "description": "Returns the total number of contacts in the tenant matching the optional `search`, `type`, `dateFrom`/`dateTo` filters. Mirrors the same filters as `GET /contacts` minus pagination — use this when you only need cardinality and don't want to walk every page.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "total"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "getContactsCount",
        "x-rate-limit-cost": 1
      }
    },
    "/contacts/summary": {
      "get": {
        "summary": "Aggregate contact totals and breakdown by type",
        "description": "Returns the total contact count plus a breakdown by type (customer / vendor / subcontractor / ...). Date filter applies to createdAt and is inclusive on both bounds. Use this instead of contacts list + walk-and-count when you only need roll-ups.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
[...]
